html {
    max-height: 100%;
    max-width: 100%;
}
body {
    
}

.outerLayout {
    display: grid;
    grid-template-columns: 0.6fr 0.45fr 0.45fr 0.6fr;
    grid-template-rows: 0.2fr 1fr;
    gap: 3rem;

    
   
}

.header {
    grid-column: 2/4;
    justify-self: center;
    font-size: 3rem;
}

.imgContainer {
    grid-column: 2/3;
    grid-row: 2/3;
    min-width: 450px;
    max-width: 450px;
    height: 800px;
    position: relative;
    display: grid;

}

#gameboy {

    height: auto;
    width: 100%;
    min-width: 450px;
    max-width: 450px;
    margin-top: 2rem;
    justify-self: center;
    background-color: transparent;
    filter:         drop-shadow(5px 5px 5px #222); 


}

#innerLayout {
    grid-column: 3/4;
    grid-row: 2/3;
}

.tictactoebox {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    top: 129px;
    max-width: 234px;
    max-height: 216px;
    justify-self: center;
    background-color: rgb(56, 89, 50);

}

.tictactoe {

    display: grid;
    width: 76px;
    height: 70px;
    border: 2px solid black;
    font-size: 3rem;
    place-content: center;
    font-family: 'Public Pixel', sans-serif;
    
}

.eins, .vier, .sieben {
    border-left: 0px;
}

.eins, .zwei, .drei {
    border-top: 0px;
}

.drei, .sechs, .neun {
    border-right: 0px;
}

.sieben, .acht, .neun {
    border-bottom: 0px;
}